{erl_opts, [debug_info, warnings_as_errors,
            warn_export_all]}.

{deps, [{eredis,"1.*",
        {git, "https://github.com/wooga/eredis.git",
        {tag, "v1.0.8"}}}]}.

{relx, [{release, { myrelease, "0.1.0" },
         [myrelease,
          myapp2,
          sasl,
          eredis]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
